{% extends 'base.html.twig' %}

{% block body %}
{% set tailleMax = 150 %}
{% set nothing = 0 %}
    {% for activity in activities %}
        {% if key in activity.title %}
        {% set nothing = nothing + 1 %}
        Activité:
        <h1><u><a href="{{ path('activity_detail', {'id':activity.id}) }}">{{activity.title}}</a></u></h1>
        <h6>{{activity.description | slice(0,tailleMax)}}{% if activity.description|length > tailleMax %}...{% endif %}</h6>
        {% endif %}
    {% endfor %}

    {% for muscle in muscles %}
        {% if key in muscle.nameOfMuscle %}
        {% set nothing = nothing + 1 %}
        Muscle:
        <h1><u><a href="{{ path('muscle_detail', {'id':muscle.id}) }}">{{muscle.nameOfMuscle}}</a></u></h1>
        <h6>{{muscle.ExtraExpl | slice(0,tailleMax)}}{% if muscle.ExtraExpl|length > tailleMax %}...{% endif %}</h6>
        {% endif %}
    {% endfor %}

    {% for activity in activities %}
        {% if key in activity.description %}
        {% set nothing = nothing + 1 %}
        Activité:
        <h1><u><a href="{{ path('activity_detail', {'id':activity.id}) }}">{{activity.title}}</a></u></h1>
        <h6>{{activity.description | slice(0,tailleMax)}}{% if activity.description|length > tailleMax %}...{% endif %}</h6>
        {% endif %}
    {% endfor %}

    {% for muscle in muscles %}
        {% if key in muscle.ExtraExpl %}
        {% set nothing = nothing + 1 %}
        Muscle:
        <h1><u><a href="{{ path('muscle_detail', {'id':muscle.id}) }}">{{muscle.nameOfMuscle}}</a></u></h1>
        <h6>{{muscle.ExtraExpl | slice(0,tailleMax)}}{% if muscle.ExtraExpl|length > tailleMax %}...{% endif %}</h6>
        {% endif %}
    {% endfor %}

    {% for activity in activities %}
        {% if key in activity.duration or (key > activity.duration - 5 and key < activity.duration+5) %}
        {% set nothing = nothing + 1 %}
        Activité:
        <h1><u><a href="{{ path('activity_detail', {'id':activity.id}) }}">{{activity.title}}</a></u></h1>
        <h6>{{activity.description | slice(0,tailleMax)}}{% if activity.description|length > tailleMax %}...{% endif %}</h6>
        Durée: {% if activity.duration <60 %} {{activity.duration}} minutes
                                        {% else %} 1 heure et {{activity.duration -60}} minutes{% endif %}<br>
        {% endif %}
    {% endfor %}

    {% for muscle in muscles %}
        {% if key == muscle.activities|length %}
        {% set nothing = nothing + 1 %}
        Muscle:
        <h1><u><a href="{{ path('muscle_detail', {'id':muscle.id}) }}">{{muscle.nameOfMuscle}}</a></u></h1>
        <h6>{{muscle.ExtraExpl | slice(0,tailleMax)}}{% if muscle.ExtraExpl|length > tailleMax %}...{% endif %}</h6>
        Nombre d'activités associées: {{key}}<br>
        {% endif %}
    {% endfor %}
    {% if nothing == 0 %}
        <h1>Pas de résultat trouvé !!!!</h1>
    {% endif %}

{% endblock %}